.body{
    margin: 0;
}
.contain{
    background-image: linear-gradient(to right, gainsboro, white);
}
.header_1{
    background-color: black;
    width: 1352px;
    height: 110px;
    padding-left: 3px;
    margin-left: -8px;
    margin-top: -8px;
    display: grid;
}
.header_1_1{
    
    color: white;
    display: inline-block;
    font-size: 40px;
    margin-left: 51px;
    margin-top: 30px;
    font-family: fangsong;

}
.header_1_2{
    background-color: rgba(68,68,68,1.0);
    width: 1352px;
    height: 40px;
    padding-left: 3px;
    margin-left: -8px;
    margin-top: -8px;
}
.header_1_2_1{
    height: 40px;
    width: 101px;
    margin-left: 30px;
    background-color: rgba(68,68,68,1.0);
    border: none;
    font-size: 18px;
    font-weight: bold;
}
.header_1_2_2{
    height: 40px;
    width: 125px;
    margin-left: 30px;
    background-color: rgba(68,68,68,1.0);
    border: none;
    font-size: 18px;
    font-weight: bold;
}
.intro_1{
    display: inline-block;
    margin-top: -10px;
}
.intro_2{
    display: inline-block;
    font-size: 40px;
    line-height: 2em;
    margin-top: 30px;
    font-weight: initial;
    color: #444;
}
.intro_desc{
    width: 497px;
    text-align: justify;
    display: contents;
}
.intro_vid {
    width: 479px;
    height: 287px;
}
.newvid_1{ 
    display: inline-block;
    font-size: 35px;
    line-height: 2em;
    margin-top: 13px;
    font-weight: initial;
    color: #444;
}
.yt_1{
    margin-top: 25px;
    align-self: flex-end;
}
.newvid_3{
    display: inline-block;
    width: 1265px;
}
.newvid_7{ 
    display: inline-block;
    font-size: 35px;
    line-height: 2em;
    margin-top: 13px;
    font-weight: initial;
    color: #444;
}
.newvid_8{ 
    display: inline-block;
    font-size: 35px;
    margin-left: 2px;
    line-height: 2em;
    margin-top: 13px;
    font-weight: initial;
    color: #46f;
}
.most_1{
    width: 279px;
    display: inline-block;
    margin-left: 567px;
}
.most_2{ 
    display: inline-block;
    font-size: 35px;
    line-height: 2em;
    margin-top: 13px;
    font-weight: initial;
    color: #444;
}
.most_3{ 
    display: inline-block;
    font-size: 35px;
    margin-left: 2px;
    line-height: 2em;
    margin-top: 13px;
    font-weight: initial;
    color: #46f;
}
.most_6{
    display: inline-block;
    margin-left: 150px;
    margin-top: -237px;;
}
.most_viewed{
    margin-left: -74px;
}
.most_7{
    display: inline-block;
    margin-left: 150px;
    margin-top: -257px;
}
.most_4{
    display: inline-block;
    margin-left: 1015px;
    font-size: 29px;
    text-decoration: underline;
}
.most_5{
    margin-left: 845px;
    text-align: justify;
    width: 514px;
    display: inline-block;
    margin-top: 15px;
}
.most_8{
    display: inline-block;
    margin-left: 1015px;
    font-size: 29px;
    text-decoration: underline;
    margin-top: 60px;
}
.most_9{
    margin-left: 845px;
    text-align: justify;
    width: 514px;
    display: inline-block;
    margin-top: 15px;
}
.most_10{
    margin-top: 37px;
    width: 282px;
    height: 45px;
    background-color: #444;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 23px;
}
.about_2{
    color: black;
    font-size: 25px;
    display: inline-block;
    margin-top: 39px;
    margin-left: 90px;
}
.footer{
    background-color: black;
    width: 50%;
    height: 365px;
    margin-top: 25px;
    display: inline-block;
    margin-left: 673px;
}
.footer_1{
    background-color: black;
    margin-top: 15px;
    width: 100%;
}
.footer_main_1{
    display: grid;
    margin-top: 200px;
}
.abtme{
    color: white;
    display: grid;
}
.abtme_1 {
    font-size: 35px;
    display: inline-block;
    font-family: Gabriola;
    color: white;
    margin-top: 35px;

}
.abtme_2{
    color: white;
    display: inline-block;
    font-family: Gabriola;
    margin-top: 2px;
    font-size: 26px;
}
.abtme_3{
    color: white;
    margin-left: 100px;
    display: inline-block;
    font-family: Gabriola;
    margin-top: 2px;
    font-size: 26px;
}
.abtme_1_1{
    font-size: 35px;
    display: inline-block;
    margin-top: 35px;
    font-family: Gabriola;
    color: white;
    text-decoration: underline;
}
.abtme_1_2{
    color: white;
    display: inline-block;
    font-family: Gabriola;
    margin-top: 2px;
    font-size: 26px;
}
.abtme_1_3{
    color: white;
    display: inline-block;
    font-family: Gabriola;
    margin-top: -5px;
    font-size: 26px;
}
.abtme_1_4{
    color: white;
    display: inline-block;
    font-family: Gabriola;
    margin-top: -5px;
    font-size: 26px;
}
.abtme_1_5{
    color: white;
    display: inline-block;
    font-family: Gabriola;
    margin-top: -5px;
    font-size: 26px;
}